<!DOCTYPE html>
<html ng-app="coffeeApp">
<head>
    <title>Trish's Coffee</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <div ng-controller="CoffeeShopController" class="SelectedCoffeeShop">

        <div ng-hide="supportsGeo">
            Your browser doesn't let us get your location, sorry.
        </div>
        <div ng-show="supportsGeo">
            <button ng-click="getGeoLocation()">
                Show my coffee shop
            </button>
        </div>
        <div ng-show="nearestCoffeeShop">
            <b>{{nearestCoffeeShop.name}}</b>
            <a ng-show="nearestCoffeeShop.allValues.location"
               ng-href="https://www.google.co.uk/maps?q={{nearestCoffeeShop.name}}+near+{{nearestCoffeeShop.allValues.location.coordinates[1]}},{{nearestCoffeeShop.allValues.location.coordinates[0]}}">Map</a>
        </div>
    </div>

</div>

<div class="container">

    <div ng-controller="DrinksController">
        <form novalidate class="CoffeeForm">
            Drink: <select ng-model="drink.type" ng-options="type.name for type in types">
        </select><br/>
            Size: <select ng-model="drink.size" ng-options="size for size in sizes">
        </select><br/>

        </form>
        <!--<pre>form = {{drink | json}}</pre>-->
    </div>

</div>


<div style="color: grey">Free enter extras here</div>
<div style="color: grey">Enter name here</div>

<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/coffee.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>