<!DOCTYPE html>
<html ng-app="coffeeApp">
<head>
    <title>Trish's Coffee</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <div ng-controller="CoffeeShopController" class="SelectedCoffeeShop">

        <div ng-hide="supportsGeo">
            Your browser doesn't let us get your location, sorry.
        </div>
        <div ng-show="supportsGeo">
            <button ng-click="getGeoLocation()">
                Show my coffee shop
            </button>
        </div>
        <div ng-show="nearestCoffeeShop">
            <b>{{nearestCoffeeShop.name}}</b>
            <a ng-show="nearestCoffeeShop.allValues.location"
               ng-href="https://www.google.co.uk/maps?q={{nearestCoffeeShop.name}}+near+{{nearestCoffeeShop.allValues.location.coordinates[1]}},{{nearestCoffeeShop.allValues.location.coordinates[0]}}">Map</a>
            <!--<pre>coffee shop= {{nearestCoffeeShop}}</pre>-->
        </div>
    </div>

</div>

<div class="container">

    <div ng-controller="DrinksController">
        <form novalidate class="CoffeeForm" ng-submit="giveMeCoffee()">
            Drink: <select ng-model="drink.type" ng-options="type.name for type in types | orderBy:'name'"> </select><br/>
            Size: <select ng-model="drink.size" ng-options="size for size in sizes"> </select><br/>

            <div ng-show="drink.type && drink.size">
                Extras (for example milk, syrups): <br/>
                <span ng-repeat="selectedOption in drink.selectedOptions"> {{selectedOption}}; </span>

                <input type="text" ng-model="newOption"
                       typeahead="availableOption.name for availableOption in availableOptions | filter:$viewValue | orderBy:'name'"
                       class="form-control" placeholder="Type milk or syrups or extras here">
                <button ng-click="addOption()">add</button>
                <br/>
                <input type="text" ng-model="drink.drinker">
                <br/>
                <input type="submit" value="Give Me Coffee"/>
            </div>
        </form>
        <!--<pre>form = {{drink | json}}</pre>-->

        <alert ng-repeat="message in messages" type="message.type" close="closeAlert($index)">
            {{message.msg}}
            <div ng-show="message.orderId">
                <a ng-href="http://localhost:8080/service/coffeeshop/{{coffeeShopId}}/order/{{message.orderId}}">Order details</a>
            </div>
        </alert>
    </div>

</div>


<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/coffee.js"></script>
<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>

</body>
</html>